<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Occupations Show Page</title>
    <link rel="stylesheet" href="/css/stylesheet.css">
</head>
<body>
    <h1>I'm Interested in <%= specificOccupationalData.title %></h1>
    
    <a href="/exploreoccupations">Back to Occupations</a>
    <h1><%=specificOccupationalData.description%></h1>
    <h2><%=specificOccupationalData.training%></h2>
    <h3><%=specificOccupationalData.wage%></h3>
    <div>
         <img src="<%=specificOccupationalData.expert.pictureUrl%>">
        <p>Meet <%=specificOccupationalData.expert.name%></p>
        <p><%=specificOccupationalData.expert.profile%></p>

            <a href="/editoccupation/<%= specificOccupationalData._id %>">Edit This</a>
    </div>
    <iframe width="560" height="315" 
    src="<%=specificOccupationalData.videoUrl%>" title="YouTube video player" 
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen></iframe>
    <br>
    <a href="/users/addvideo/<%= specificOccupationalData.title %>/<%= specificOccupationalData.videoUrl %>">Add Video</a>
    <br>
    <br>
    <br>
    <h4>Delete <%= specificOccupationalData.title%></h4>
    <form action='/deleteoccupation/<%= specificOccupationalData._id%>?_method=DELETE'
        method='POST'>
        <div> 
            <button>Delete</button>
        </div>
    </form>
    
</body>
</html>