<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Page</title>
    <link rel="stylesheet" href="/css/stylesheet.css">
</head>
<body>
    <h1>Edit <%= specificOccupationalData.title%></h1>
    <form action='/updateoccupation/<%= specificOccupationalData._id%>?_method=PUT'
        method='POST'>
        <div>
            <label>Title:
                <input type="text" name="title" required="true"
                value="<%= specificOccupationalData.title%>">
            </label><br/>
        </div>    
        <div>
            <label>Description:
                <input type="text" name="description" required="true"
                value="<%= specificOccupationalData.description%>">
            </label><br/>
        </div>
        <div>
            <label>Training:
                <input type="text" name="training" required="true"
                value="<%= specificOccupationalData.training%>">
            </label><br/>
        </div>
        <div>
            <label>Wage:
                <input type="text" name="wage" required="true"
                value="<%= specificOccupationalData.wage%>">
            </label><br/>
        </div>
        <div>
            <label>VideoUrl:
                <input type="text" name="videourl" required="true"
                value="<%= specificOccupationalData.videoUrl%>">
            </label><br/>
        </div>
        <div>
            <label>ExpertName:
                <input type="text" name="name" required="true"
                value="<%= specificOccupationalData.expert.name%>">
            </label><br/>
        </div>
        <div>
            <label>ExpertOccupation:
                <input type="text" name="occupation" required="true"
                value="<%= specificOccupationalData.expert.occupation%>">
            </label><br/>
        </div>
        <div>
            <label>ExpertProfile:
                <input type="text" name="profile" required="true"
                value="<%= specificOccupationalData.expert.profile%>">
            </label><br/>
        </div>
        <div>
            <label>ExpertPictureUrl:
                <input type="text" name="pictureurl" required="true"
                value="<%= specificOccupationalData.expert.pictureUrl%>">
            </label><br/>
        </div>
        <div>
            <label>ExpertEmail:
                <input type="text" name="email" required="true"
                value="<%= specificOccupationalData.expert.email%>">
            </label><br/>
        </div>
        <div>
            <label>ExpertPhone:
                <input type="text" name="phone" required="true"
                value="<%= specificOccupationalData.expert.phone%>">
            </label><br/>
        </div>
        <div>
            <label>ExpertZipCode:
                <input type="text" name="zipcode" required="true"
                value="<%= specificOccupationalData.expert.zipcode%>">
            </label><br/>
        </div>
        <div>
            <label>ExpertState:
                <input type="text" name="state" required="true"
                value="<%= specificOccupationalData.expert.state%>">
            </label><br/>
        </div>
        <button> Submit </button>   
    </form>
    
</body>
</html>