<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Video Queue</title>
    <link rel="stylesheet" href="/css/stylesheet.css">
</head>
<body>
    <h2>View Your Saved Videos</h2>
    <h1> <%= specificProfileData.fname %></h1>
    <h1> <%= specificProfileData.lname %></h1>
    
    <ul class="videos">
        <%for (let i = 0; i < videoArray.length; i++) {%>
            <li class="videosInList">
                <%console.log(videoArray[i].name) %>
                <div video="<%= videoArray[i].videoUrl %>"><%= videoArray[i].name %></div>
                <a href="/users/deletevideo/<%= videoArray[i].name %>/<%= encodeURIComponent(videoArray[i].videoUrl) %>">Remove From Queue</a>
            </li>      
      <%  } %>
    </ul> 
    
    <!-- <div>
    <button> Add Video </button> 
    </div> -->
    <!-- added this 12.16 - includes remove video button-->

    <div id="video">
    <iframe id="videoiframe" width="560" height="315" 
    src="" title="YouTube video player" 
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen></iframe>
    </div>
    <br>
    <br>
    <br>
    <br>
    







    <a href="/">Back to Home Page</a>
    
    

    <script>
        /*rray.from(document.querySelectorAll('li a:first-child')).forEach(function(a) {alert(a.getAttribute('video'));})*/
        Array.from(document.querySelectorAll('li div:first-child')).forEach(element => {
            //console.log(element.getAttribute('video'))
            element.addEventListener("click", changeiFrameSrc);
        });
        function changeiFrameSrc(e) {
            let target = e.target;
            console.log(target)
            console.log(target.getAttribute('video'))
            //document.getElementById('videoiframe').setAttribute('src', "'" + target.getAttribute('video') + "'");
            //console.log(document.getElementById('videoiframe').getAttribute('src'));
            document.querySelector('div#video').innerHTML = `
                    <iframe id="videoiframe" width="560" height="315" 
            src="` + target.getAttribute('video') + `" title="YouTube video player" 
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen></iframe>`
        }
    </script>
</body>
</html>