!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Video Queue</title>
    <link rel="stylesheet" href="/css/stylesheet.css">
</head>
<body>
    <h2>Save Videos to Your Video Queue</h2>
    <h1> <%= specificProfileData.fname %></h1>
    <h1> <%= specificProfileData.lname %></h1>
    
    <ul class="videos">
        <%for (let i = 0; i < videoArray.length; i++) {%>
            <li>
                <%console.log(videoArray[i].name) %>
                <a href='<%= videoArray[i].videoUrl %>' ><%= videoArray[i].name %></a>
                <a href="/users/deletevideo/<%= specificOccupationalData.title %>/<%= specificOccupationalData.videoUrl %>">Remove From Queue</a>
            </li>      
      <%  } %>
    </ul> 
    
    <div>
    <button> Add Video </button> 
    </div>
    <!-- added this 12.16 - includes remove video button-->
    <!-- <iframe width="560" height="315" 
    src="<specificOccupationalData.videoUrl>" title="YouTube video player" 
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen></iframe>
    <br>
    <br>
    <br>
    <br>
    <h4>Remove Video < specificOccupationalData.title></h4>
    <form action='/deleteoccupation/<specificOccupationalData._id%>?_method=DELETE'
        method='POST'>
        <div> 
            <button>Remove</button>
        </div>
    </form> -->







    <a href="/">Back to Home Page</a>
    
    


</body>
</html>